<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Article Form </h1>
    </header>
    <form action="/user" method="POST">
        <input type="text" name="title" placeholder="title" value="title">

        <input type="text" name="description" placeholder="Add Description
        " value="description">

        <input type="text" name="tags" placeholder="Tages" value="Tags">

        <input type="text" name="Author" placeholder="Author" value="Author">

        <input type="number" name="likes" placeholder="0" value="likes">

        <a href="/form">
            <button>back</button>
        </a>
    </form>
</body>
</html>